* {
	text-align: left;
}

button {
	float: right;
	text-decoration: none;
	color: black;
	margin:5px;
}

img {
	float:left;
	margin: 3px;
	width: 128px;
}
text {
	float:right;
}

.title {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif
}

a:link {
	text-decoration: none;
	color: white;
}

.book {
	margin: 5px;
}

